.dockerignore
.editorconfig
.env
.env.example
.gitattributes
.gitignore
.styleci.yml
phpunit.xml
README.md
ray.php
LICENSE
Dockerfile

/.git
/.idea
/node_modules
/vendor
/docker
!/docker/config/*
/docs
