/node_modules
/public/hot
/public/storage
/public/assets/*
/public/css
/public/js
/public/mix-manifest.json
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

!/public/assets/favicons/
