@import 'tailwindcss';
@import './fonts/inter.css' layer(base);
@import './fonts/jetbrains-mono.css' layer(base);

@theme {
    /* Primary (Indigo) */
    --color-primary-900: hsl(234deg 62% 26%);
    --color-primary-800: hsl(232deg 51% 36%);
    --color-primary-700: hsl(230deg 49% 41%);
    --color-primary-600: hsl(228deg 45% 45%);
    --color-primary-500: hsl(227deg 42% 51%);
    --color-primary-400: hsl(227deg 50% 59%);
    --color-primary-300: hsl(225deg 57% 67%);
    --color-primary-200: hsl(224deg 67% 76%);
    --color-primary-100: hsl(221deg 78% 86%);
    --color-primary-50: hsl(221deg 68% 93%);

    /* Fonts */
    --font-sans: 'InterVariable', sans-serif;
    --font-mono: 'JetBrains Mono', monospace;
}

@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

@custom-variant dark (&:where(.dark, .dark *));

@custom-variant hover (&:where(:hover, :focus-visible));

@layer base {
    body:has(dialog[open]) {
        overflow: hidden;
    }

    button:focus-visible,
    a:focus-visible {
        outline: 2px solid var(--color-primary-400);
        outline-offset: 2px;
    }
}

@utility ring-contrast {
    @apply ring-1 ring-black/5 dark:ring-white/15;
}
